<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Purple" />
      </mapping>
      
      <layout type="log4net.Csv.CsvLayout, log4net.Csv">
        <fields value="HeapElapsedTicks,QuickElapsedTicks,Size,Take,Samples,exception" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="myapplog.csv" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Csv.CsvLayout, log4net.Csv">
        <header type="log4net.Util.PatternString" value="HeapElapsedTicks,QuickElapsedTicks,Size,Take,Samples,exception%newline" />
        <fields value="HeapElapsedTicks,QuickElapsedTicks,Size,Take,Samples,exception" />
      </layout>
    </appender>
</log4net>
